body{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.font-23{
    font-size: 25px;
}
.text-orange{
    color: orange;
}
.bg-orange{
    background-color: orange;
    color: black;
}
.btn-orange{
    background-color: orange;
    color: black;
}
/* #section{
    margin-top: -46px;        Size of fixed header
    padding-bottom: 80px;
    display: block;
} */